{% extends 'analyses/detail.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}Analysis detail of {{ analysis.name }}{% endblock title %}

{% block content %}
	<h2>Detail of {{ analysis.name }} ({{ analysis.execution_status }})</h2>

	<h3>Description</h3>
	<pre>{{ analysis.description }}</pre>

	<h3>Experiment design</h3>
	<p><a href="{{ analysis.experiment.get_absolute_url }}">{{ analysis.experiment }}</a></p>

	<h3>Parameters</h3>
	<p>Genome: {{ analysis.genome_reference }}</p>

	<h3>Execution detail</h3>
	<ul>
		<li>QC: {{ analysis_detail.stage_qc|default:"Waiting" }}</li>
		<li>Alignment: {{ analysis_detail.stage_alignment|default:"Waiting" }}</li>
		<li>Cufflinks: {{ analysis_detail.stage_cufflinks|default:"Waiting" }}</li>
		<li>Cuffdiff: {{ analysis_detail.stage_cuffdiff|default:"Waiting" }}</li>
	</ul>

	<h3>Report</h3>
	{% if analysis.execution_status == 'SUCCESSFUL' and analysis.report %}
		<p>Canonical report link:
			<a href="{{ full_report_url }}">
				{{ full_report_url }}
			</a>
		</p>
		<form class="form-inline" action="{% url 'update_report' pk=analysis.report.pk %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ request.path }}">
			{% crispy report_form %}
			<button type="submit" class="btn">{% trans 'Update' %}</button>
		</form>
	{% else %}
		<p>Only successful analysis has report.</p>
	{% endif %}
{% endblock content %}
