$dashboard-tab-color: $list-group-link-color;
$dashboard-tab-bg: $navbar-default-bg;
$dashboard-tab-hover-color: $list-group-link-hover-color;
$dashboard-tab-hover-bg: darken($dashboard-tab-bg, 5%);
$dashboard-tab-active-color: $list-group-active-color;
$dashboard-tab-active-bg: $list-group-active-bg;


.dashboard {
    // no padding (gutter) width
    @include make-row(0px);
}

.dashboard__tab {
    @include make-sm-column(2, 0px);

    height: 500px;
    border-right: solid 1px $gray-light;
    padding-left: 1em;
    padding-right: 1em;
    background-color: $dashboard-tab-bg;

    &__item {
        display: block;
        border-bottom: solid 1px $gray-light;
        padding: 1em 0.5em;
        vertical-align: middle;
        background-color: $dashboard-tab-bg;
        color: $dashboard-tab-color;
        text-decoration: none;

        &:first-child {

        }

        &:last-child {

        }
    }
}

.dashboard__content {
    @include make-sm-column(10);
}


// Interactive items
.dashboard__tab__item {

    &:hover,
    &:focus {
        text-decoration: none;
        color: $dashboard-tab-hover-color;
        background-color: $dashboard-tab-hover-bg;
    }

    // Active class on item itself, not parent
    &.active,
    &.active:hover,
    &.active:focus {
        z-index: 2; // Place active items above their siblings for proper border styling
        color: $dashboard-tab-active-color;
        background-color: $dashboard-tab-active-bg;
    }
}
