.source-label:not(:first-of-type)::before {
    content: ", ";
}

.condition-group {
    .samples {
        margin-left: 0.75em;
    }
}

.markdown-readonly {
    > textarea {
        display: none;
    }
    blockquote {
        font-size: 1em;
        color: $gray;
    }
}
