{% extends 'base.html' %}

{% load i18n handy_helpers %}

{% block title %}Dashboard{% endblock %}

{% block content %}
	{% if not user.verified %}
	<div class="alert alert-warning clearfix" role="alert">
	  <p>{% trans 'Please verify your account by clicking the link in the mail we sent to your email inbox.' %}</p>
	  <form method="post" action="{% url 'request_verification' %}" class="form form-inline">
	    {% csrf_token %}
	    <p><span class="text-middle">{% trans 'Did not get the verification mail?' %}</span>
	    <button type="submit" class="btn btn-link">{% trans 'Request a new one.' %}</button></p>
	  </form>
	</div>
	{% endif %}
	{% for message in messages %}
		<div class="alert {{ message|message_bootstrap_class_str }} clearfix" role="alert"><p>{{ message }}</p></div>
	{% endfor %}
	<h2>User Dashboard for {{ user }}</h2>
{% endblock %}
